<!-- ******Map****** -->
<section class="promo section">
    <p class="intro text-center" style="color: pink;">Personnalisez votre trajet avec la carte interactive</p>
    <div class="container text-center">
        <div id="filters" class="button-group clearfix boutons-menu-maps">
            <button class="btn button" data-filter=".new" >Créer mon itinéraire</button>
            <button class="btn button" data-filter=".mestrips">Voir mes lieux</button>
            <button class="btn button" data-filter=".musees">Enregistrer mon trajet</button>
        </div>
        <!--//rech par trajet, lieux sélectionnés et enregistrer-->
    </div>
    <!--//container-->
</section>
<!-- partie carte -->
<div class="box-carte-page-maps container item col-xl-12 col-md-12 col-12">
    <div class="item-inner">
        <div class="liste-page-maps col-xl-3 col-md-3 col-12">
            <div class="header-box">
                <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
            </div>

            <div class="desc text-center">
                <h4>A Paris, je souhaite visiter :</h4>
                <hr>
            </div>
            <ul class="sub-title">
                <li>Musée du Louvre</li>
                <hr>
                <li>Musée d'Orsay</li>
                <hr>
                <li>Food Market</li>
                <hr>
                <li>Botanique</li>
                <hr>
                <li>Le Badaboum</li>
                <hr>
                <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
            </ul>
        </div>
        <div id="map"class="col-xl-9 col-md-9 col-12">
        </div>
        
        <div>
            <input id="pac-input" class="controls" type="text" placeholder="Enter a location">

        </div>

        <div id="result">

        </div>
        
        <!--//item-inner-->
    </div>
    <!--//item-->
</div>

<!--------- Suggestions --------------->
<section id="work-list" class="section work-list title-result-page-maps">
    <div class="container text-center">
        <h3 class="title">Résultats de lieux pour Paris</h3>
        <div id="filters" class="button-group clearfix">
            <button class="btn button is-checked" data-filter="*">Tous</button>
            <button class="btn button" data-filter=".restos">Restos</button>
            <button class="btn button" data-filter=".monuments">Monuments</button>
            <button class="btn button" data-filter=".musees">Musées</button>
            <button class="btn button" data-filter=".insolites">Insolites</button>
            <button class="btn button last" data-filter=".clubs">Clubs</button>
        </div>
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup box-recherche website col-lg-3 col-md-4 col-sm-6">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="https://risibank.fr/cache/stickers/d198/19812-full.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        <!--//filtres-->
        <div class="item startup website col-lg-3 col-md-4 col-sm-6 box-recherche">
            <div class="item-inner">
                <figure class="figure">
                    <a href="case-study-1.html"><img class="img-fluid image-result" src="http://a403.idata.over-blog.com/299x226/1/79/18/64/langue-chat.jpg" alt="" /></a>
                    <a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a>
                    <!--//info-mask-->
                </figure>
                <div class="content text-left">
                    <h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
                    <div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
                    <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
                </div>
                <!--//content-->
            </div>
            <!--//item-inner-->
        </div>
        <!--//item-->
        
    </div>
    <!--//container-fluid-->
</section>
<!--//suggestions"-->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

 <%= javascript_include_tag "/assets/javascripts/search-trip.js" %>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBpvaZc6ZbCzujG45MRbYoUPt7Cg_vGb9E&amp;libraries=places&amp;callback=initMap" async="" defer=""></script>