<!-- ******Map****** -->
<section class="promo section">              
	<p class="intro">Personnalisez votre trajet avec la carte interactive</p>
	<div class="container text-center">
		<div id="filters" class="button-group clearfix">
			<button class="btn button" data-filter=".new">Créer mon itinéraire</button>
			<button class="btn button" data-filter=".mestrips">Voir mes lieux</button>
			<button class="btn button" data-filter=".musees">Enregistrer mon trajet</button>
		</div><!--//rech par trajet, lieux sélectionnés et enregistrer-->
	</div><!--//container-->
</section><!--//promo-->
<div class="item col-xl-3 col-md-12 col-12">
	<div class="item-inner">
		<div class="header-box">
			<span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
		</div><!--//header-->
		<div class="desc">à Paris, je souhaite visiter :</div>
		<p class="sub-title">	
			<li>Musée du Louvre</li>
			<li>Musée d'Orsay</li>
			<li>Food Market</li>
			<li>Botanique</li>
			<li>Le Badaboum</li>
			<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
		</p>	
	</div><!--//item-inner-->
</div><!--//item-->


<!-- ******Suggestions****** -->
<section id="work-list" class="section work-list">
	<div class="container text-center">
		<h3 class="title">Résultats de lieux pour Paris</h3>
		<div id="filters" class="button-group clearfix">
			<button class="btn button is-checked" data-filter="*">Tous</button>
			<button class="btn button" data-filter=".restos">Restos</button>
			<button class="btn button" data-filter=".monuments">Monuments</button>
			<button class="btn button" data-filter=".musees">Musées</button>
			<button class="btn button" data-filter=".insolites">Insolites</button>
			<button class="btn button last" data-filter=".clubs">Clubs</button>
		</div><!--//filtres-->
		<div class="items-wrapper isotope row">
			<div class="item startup saas col-lg-4 col-md-6 col-12">
				<div class="item-inner">
					<figure class="figure">
						<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-1.jpg" alt="" /></a>
						<a class="info-mask" href="case-study-1.html">
							<span class="desc">Lieu blablablabla</span>
							<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
						</a><!--//info-mask-->
					</figure>
					<div class="content text-left">
						<h3 class="sub-title"><a href="case-study-1.html">Palais des Congrès</a></h3>
						<div class="meta">Salle de concerts</div>
						<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
					</div><!--//contenu-->                    
				</div><!--//item-inner-->
			</div><!--//item-->
			<div class="item startup mobile-app col-lg-4 col-md-6 col-12">
				<div class="item-inner">
					<figure class="figure">
						<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-2.jpg" alt="" /></a>
						<a class="info-mask" href="case-study-1.html">
							<span class="desc">Lieu blablablabla</span>
							<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
						</a><!--//info-mask-->
					</figure>
					<div class="content text-left">
						<h3 class="sub-title"><a href="case-study-1.html">Musée du Louvre</a></h3>
						<div class="meta">Musée d'art classique</div>
						<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
					</div><!--//contenu-->                    
				</div><!--//item-inner-->
			</div><!--//item-->
		</div><!--//item-->
		<div class="item startup website col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-3.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Musée d'Orsay</a></h3>
					<div class="meta">Ancienne gare qui expose les oeuvres impressionites</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item agency website col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-4.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Bastille</a></h3>
					<div class="meta">Monument historique, symbole de la révolution française</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item agency website col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-5.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Chez Régine</a></h3>
					<div class="meta">Boite de nuit jetset</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item startup mobile-app col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-6.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Le Badaboum</a></h3>
					<div class="meta">Club underground, musique électro</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item startup saas col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-7.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Le Manoir de Paris</a></h3>
					<div class="meta">Attraction insolite, une maison hantée à visiter</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item startup mobile-app website col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-8.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Huntescape</a></h3>
					<div class="meta">Attraction insolite - escape game</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item startup mobile-app saas col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-9.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">La Tour d'Argens</a></h3>
					<div class="meta">Restaurant Gastronomique avec vue sur la capitale</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item startup saas col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-10.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Botanique</a></h3>
					<div class="meta">Resto bistronomique de Thierry Merks dans le 11ème</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item startup website mobile-app col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-11.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Obermamma</a></h3>
					<div class="meta">Resto italien</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->
		<div class="item startup saas website col-lg-4 col-md-6 col-12">
			<div class="item-inner">
				<figure class="figure">
					<a href="case-study-1.html"><img class="img-fluid" src="assets/images/work/work-example-thumb-12.jpg" alt="" /></a>
					<a class="info-mask" href="case-study-1.html">
						<span class="desc">Lieu blablablabla</span>
						<span class="btn btn-cta btn-cta-primary" >Voir ce lieu</span>
					</a><!--//info-mask-->
				</figure>
				<div class="content text-left">
					<h3 class="sub-title"><a href="case-study-1.html">Champs-Elysées</a></h3>
					<div class="meta">Plus célèbre avenue du monde, parfaite pour le shopping</div>
					<button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
				</div><!--//content-->                    
			</div><!--//item-inner-->
		</div><!--//item-->             
	</div><!--//items-wrapper-->
</div><!--//container-fluid-->
</section><!--//suggestions"-->