<!-- ******Map****** -->
<section class="promo section">
    <p class="intro text-center" style="color: pink;">Personnalisez votre trajet avec la carte interactive</p>
    <div class="container text-center">
        <div id="filters" class="button-group clearfix boutons-menu-maps">
            <button class="btn button" data-filter=".new" >Créer mon itinéraire</button>
            <button class="btn button" data-filter=".mestrips">Voir mes lieux</button>
            <button class="btn button" data-filter=".musees">Enregistrer mon trajet</button>
        <div>
            <input id="pac-input" class="controls" type="text" placeholder="Enter a location">

        </div>
        </div>
        
        <!--//rech par trajet, lieux sélectionnés et enregistrer-->
    </div>
    <!--//container-->
</section>
<!-- partie carte -->
<div class="box-carte-page-maps container item col-xl-12 col-md-12 col-12">
    <div class="item-inner">
        <div class="liste-page-maps col-xl-3 col-md-3 col-12">
            <div class="header-box">
                <span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
            </div>

            <div class="desc text-center">
                <h4>A Paris, je souhaite visiter :</h4>
                <hr>
            </div>
            <ul class="sub-title">
                <li>Musée du Louvre</li>
                <hr>
                <li>Musée d'Orsay</li>
                <hr>
                <li>Food Market</li>
                <hr>
                <li>Botanique</li>
                <hr>
                <li>Le Badaboum</li>
                <hr>
                <button class="btn button" data-filter=".montrajet">Ajouter à mon trajet +</button>
            </ul>
        </div>
        <div id="map"class="col-xl-9 col-md-9 col-12">
        </div>
        


        <div id="result">

        </div>
        
        <!--//item-inner-->
    </div>
    <!--//item-->
</div>

<!--------- Suggestions --------------->
<section id="work-list" class="section work-list title-result-page-maps">
    <div class="container text-center">
        <h3 class="title">Résultats de lieux pour Paris</h3>
        <div id="filters" class="button-group clearfix">
            <button class="btn button is-checked" data-filter="*">Tous</button>
            <button class="btn button" data-filter=".restos">Restos</button>
            <button class="btn button" data-filter=".monuments">Monuments</button>
            <button class="btn button" data-filter=".musees">Musées</button>
            <button class="btn button" data-filter=".insolites">Insolites</button>
            <button class="btn button last" data-filter=".clubs">Clubs</button>
        </div>
        <!--//filtres-->
        
        <div id="search-result"></div>
        
    </div>
    <!--//container-fluid-->
</section>
<!--//suggestions"-->
