<!-- ******Trips de Bob****** -->
<!-- ******Titre****** -->
<div class="container">
	<div class="promo section">
		<p class="intro">Les trips de Bob</p>
	</div>
	<!-- ******Liste destinations****** -->
	<div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
		<div class="item-inner">
			<div class="liste-page-maps col-xl-3 col-md-3 col-12">
				<div class="header-box">
					<span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
				</div>
				<div class="desc text-center">
					<h4>J'ai sauvegardé ces destinations :</h4>
				</div>
				<button class="btn button col-xl-6 col-md-6 col-12" data-filter=".montrajetparis">PARIS</button>
				<ul class="sub-title">
					<li>Musée du Louvre</li>
					<li>Musée d'Orsay</li>
					<li>Food Market</li>
					<li>Botanique</li>
					<li>Le Badaboum</li>
					<button class="btn button col-xl-6 col-md-6 col-12" data-filter=".montrajetnyc">NYC</button>
					<button class="btn button col-xl-6 col-md-6 col-12" data-filter=".montrajetdublin">DUBLIN</button>
					<button class="btn button col-xl-6 col-md-6 col-12" data-filter=".montrajetlille">LILLE</button>
					<button class="btn button col-xl-6 col-md-6 col-12" data-filter=".newdestination">Ajouter une destination</button>
				</ul>
			</div> <!--//liste-page-maps-->
			<div class="carte-page-maps col-xl-9 col-md-9 col-12">
				<p>Carte</p>
			</div>
		</div><!--//item-inner-->
	</div><!--//box-carte-liste-->
</div><!--//container-->