<!-- ******Trips de Bob****** -->
<!-- ******Titre****** -->

<div class="container">
	<div class="container text-center">
		<p class="intro text-center">Les trips de Bob</p>
	</div>
	<div class="desc text-center">
		<h1>J'ai sauvegardé ces destinations </h1>
	</div>
	<!-- ******Liste destinations****** -->
	<div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
		<button class="villes-page-trips btn button col-xl-12 col-md-12 col-12" class="nav-link dropdown-toggle trip-ny " data-hover="dropdown" data-delay="0" data-filter=".montrajetnyc">New-York<i class="fa fa-angle-down"></i></a></button>
				<div class="liste-page-maps col-xl-3 col-md-3 col-12">
					<ul class="sub-title liste-ny">
						<li>Musée du Louvre</li>
						<li>Musée d'Orsay</li>
						<li>Food Market</li>
						<li>Botanique</li>
						<li>Le Badaboum</li>
					</ul>
				</div> <!--//liste-page-maps-->
			<div class="carte-page-maps col-xl-9 col-md-9 col-12">
				<p>Carte</p>
		</div><!--//item-inner-->
	</div><!--//box-carte-liste-->
	<div class="box-carte-liste-page-maps item col-xl-12 col-md-12 col-12">
		<ul><button class="villes-page-trips btn button col-xl-12 col-md-12 col-12" class="nav-link dropdown-toggle trip-paris" data-hover="dropdown" data-delay="0" data-filter=".montrajetparis">Paris<i class="fa fa-angle-down"></i></a></button>
		</ul>
		<div class="item-inner liste-paris">

			<div class="liste-page-maps col-xl-3 col-md-3 col-12">
				<div class="header-box">
					<span class="fs1" aria-hidden="true" data-icon="&#xe104;"></span>
				</div>

				<ul class="sub-title">
					<li>Musée du Louvre</li>
					<li>Musée d'Orsay</li>
					<li>Food Market</li>
					<li>Botanique</li>
					<li>Le Badaboum</li>

				</ul>
			</div> <!--//liste-page-maps-->
			<div class="carte-page-maps col-xl-9 col-md-9 col-12">
				<p>Carte</p>
			</div>
		</div><!--//item-inner-->
	</div><!--//box-carte-liste-->
</div><!--//container-->