    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row text-center">
                    <p>by team - I Make My Trip - pour <a href="http://www.thehackingproject.org/"><strong>The Hacking Project</strong></a> session oct 2017 </p>
                </div><!--//footer-row-->
            </div><!--//footer-container-->
        </div><!--//footer-content-->
    </footer>
