    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-lg-3 col-md-4 col-12 links-col">
                        <div class="footer-col-inner">
                            <ul class="list-unstyled">
                                <li><a href="about.html">A propos</a></li>
                                <li><a href="contact.html">Contact</a></li>
                                <li><a href="#">Mentions légales</a></li>
                                <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li class="list-inline-item"><a href="https://www.facebook.com/3rdwavethemes"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                </div><!--//footer-row-->
            </div><!--//footer-container-->
        </div><!--//footer-content-->
    </footer>
