    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-lg-3 col-md-4 col-12 links-col">
                        <div class="footer-col-inner">
                            <ul class="list-unstyled">
                                <li><a href="http://www.thehackingproject.org/">by Teamdechoc2 pour THP session sept 2017</a></li>
                            </ul>
                        </div><!--//footer-col-inner-->
                    </div><!--//foooter-col-->
                </div><!--//footer-row-->
            </div><!--//footer-container-->
        </div><!--//footer-content-->
    </footer>
